*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:rgb(39, 39, 39);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
div.head{
    text-align: center;
    padding: 20px 0px 5px;
}
div.head h1{
    margin-bottom: 5px;
}
div.input{
    text-align: center;
}
div.input form div.puts{
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: start;
}
div.input form div.puts input{
    width: 21%;
}
div.input form div.puts span.total{
    background-color: red;
    padding: 5px 2px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media(max-width:1091px){
    div.input form div.puts span.total{
        display: block;
        width: fit-content;
        margin-bottom: 10px;
    }
}
div.input form div input,
div.output form input,
div.output div.sear button,
div.output div.dele button{
    width: 80%;
    margin-bottom: 10px;
    padding: 10px 5px;
    background-color: black;
    caret-color: white;
    color: white;
    outline: 0;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
div.input form div.sub input,
div.output div.sear button,
div.output div.dele button{
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    background-color: blue;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
div.input form div.sub input.upd{
    display: none;
}
div.output {
    text-align: center;
}
div.output div.sear {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
div.output div.sear button{
    width: 45%;
}
div.output div.tab {
    overflow: auto;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
div.output table {
    border-collapse: collapse;
    width: 100%;
}
div.output table thead,
div.output table tbody tr {
    border-top: 1px solid grey;
}
div.output table thead th{
    padding: 0px 10px;
}
div.output table tbody tr{
    width: 100%;
}
div.output table tbody tr td{
    padding: 15px 10px;
}